In [23]:
import pandas as pd
from sqlalchemy import create_engine

In [24]:
df = pd.read_csv('static/Resources/ContinuousMonitoringStation_20240815171202.csv')

In [25]:
df.shape

(1151, 11)

In [26]:
df.head()

,station_number,station_name,station_short_name,station_type,cdec_id,site_code,latitude,longitude,lldatum,positional_accuracy,County
0,A85710,Alder Creek at Glenbrook,Alder Cr @ Glenbrook,Surface Water,NaN,NaN,38.851583,-122.757778,NAD83,Unknown,Lake
1,12N04E03N003M,"Am. Basin Well 1 mid-shall scrn 390-400,510-5...",AB-1 Middle-Shallow,Groundwater,NaN,389117N1215238W001,38.911600,-121.523800,NAD83,"GPS, 10m",Sutter
2,12N04E03N001M,American Basin Well 1 deep screen 950-970 ft bgs,AB-1 Deep,Groundwater,NaN,389116N1215238W001,38.911600,-121.523800,NAD83,"GPS, 10m",Sutter
3,12N04E03N002M,American Basin Well 1 middle-deep screen 680-7...,AB-1 Middle-Deep,Groundwater,NaN,389116N1215238W002,38.911600,-121.523800,NAD83,"GPS, 10m",Sutter
4,12N04E03N004M,American Basin Well 1 shallow screen 170-180 f...,AB-1 Shallow,Groundwater,NaN,389116N1215238W003,38.911600,-121.523800,NAD83,"GPS, 10m",Sutter

In [27]:
df.count()

station_number         1151
station_name           1151
station_short_name     1148
station_type           1151
cdec_id                 191
site_code               630
latitude               1151
longitude              1151
lldatum                1116
positional_accuracy    1151
County                 1151
dtype: int64

In [28]:
df = df.drop(['cdec_id','site_code'], axis=1)
df.count()

station_number         1151
station_name           1151
station_short_name     1148
station_type           1151
latitude               1151
longitude              1151
lldatum                1116
positional_accuracy    1151
County                 1151
dtype: int64

In [29]:
df = df.dropna()
df.count()

station_number         1115
station_name           1115
station_short_name     1115
station_type           1115
latitude               1115
longitude              1115
lldatum                1115
positional_accuracy    1115
County                 1115
dtype: int64

In [31]:
# !pip install psycopg2

In [32]:
engine = create_engine('postgresql://postgres:postgres@127.0.0.1:5432/stations_db')

In [33]:
conn = engine.connect()

In [34]:
df.to_sql('stations', conn, if_exists='replace')

115